{% extends "home.html" %}

{%block body%}
    <div class="overlay">
        <h1 class="aboutheader">About This Project</h1>
        <p class="abouttext">This project was built during the COVID-19 social lockdown. 
            Flask is used as the web framework. Python is used for back-end framework and scripts. 
            YouTube Links provided through webscraping using <i>requests</i> module and 
            Spotify Links were provided through <i>Spotify Web API</i> and <i>spotipy</i> module. 
            Recommendations are based off genre and example artist.  
        </p>
    </div>


    <div class="footer">
        <p>Created by Choong Hou Kit and Liew Shian Wei</p>
    </div>

{% endblock %}