<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Recommender</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/master.css">
    <link rel="stylesheet" href="../static/img/youtubeicon.png">
    <link rel="stylesheet" href="../static/img/spotifyicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>


<body>
    <div class="topnav">
        <a class="active" href="/">Song Recommender</a>
        <a class="about" href="/about">About This Project</a>
    </div>
    <br>
    {% block body %} 
    {% endblock %}
</body>

</html>